{
  "openapi": "3.1.0",
  "info": {
    "title": "aihu Agent Readiness API",
    "description": "Agent-readiness and discovery endpoints for aihu.dev. This is a MINIMAL, hand-authored version scoped to the static discovery files actually shipped by apps/docs today.",
    "version": "0.1.0",
    "contact": {
      "name": "Fellwork",
      "url": "https://github.com/fellwork/aihu"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/fellwork/aihu/blob/main/LICENSE"
    },
    "x-todo": "regenerate from the docs content post-launch. The retired docs app’s openapi.json (packages/plugin-agent-readiness) additionally documented /llms.txt, /llms-full.txt, /robots.txt, /sitemap.xml, /.well-known/agent.json (A2A) and /.well-known/mcp/server-card.json (MCP) — none of those routes exist yet (the readiness plugin is not wired into this app). Add those paths back here only once the corresponding routes are actually served, so this document never advertises a 404."
  },
  "servers": [
    {
      "url": "https://aihu.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/ai.txt": {
      "get": {
        "operationId": "getAiTxt",
        "summary": "AI training policy",
        "description": "Returns the ai.txt AI-training-permission document (spawning.ai ai.txt spec).",
        "tags": ["AI Discovery"],
        "responses": {
          "200": {
            "description": "ai.txt content",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/agents.json": {
      "get": {
        "operationId": "getAgentsJson",
        "summary": "Agent surface index",
        "description": "Returns the agents.json index of agent-facing endpoints exposed by this site. Currently empty — see the file's `_todo` for why.",
        "tags": ["AI Discovery"],
        "responses": {
          "200": {
            "description": "agents.json content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/ai-plugin.json": {
      "get": {
        "operationId": "getAiPluginJson",
        "summary": "ChatGPT-style plugin manifest",
        "description": "Returns the ai-plugin.json manifest describing this site as an OpenAPI-backed agent plugin.",
        "tags": ["AI Discovery"],
        "responses": {
          "200": {
            "description": "ai-plugin.json content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/tdmrep.json": {
      "get": {
        "operationId": "getTdmrepJson",
        "summary": "Text and data mining reservation",
        "description": "Returns the TDM Reservation Protocol document (tdm-reservation: 0 — no reservation, mining permitted).",
        "tags": ["AI Discovery"],
        "responses": {
          "200": {
            "description": "tdmrep.json content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
